!!!
%html{lang: 'en'}
  %head
    %link{href: 'https://unpkg.com/swagger-ui-dist@3/swagger-ui.css', rel: 'stylesheet'}
    %script{src: 'https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js'}
    :javascript
      window.addEventListener('load', (e) =>
        SwaggerUIBundle({url: '#{url '/swagger.yml'}', domNode: document.body}).load()
      );

    %title Swagger UI
  %body
